<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-myfatoorahpaymentplug" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MyFatoorahPaymentPlug</name>
    <js-module name="MyFatoorahPaymentPlug" src="www/MyFatoorahPaymentPlug.js">
        <clobbers target="MyFatoorahPaymentPlug" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MyFatoorahPaymentPlug">
                <param name="ios-package" value="MyFatoorahPaymentPlug" />
            </feature>
        </config-file>
        <framework src="src/ios/MFSDK.framework" embed="true" custom="true" /> 
        <!-- <source-file src="src/ios/MFSDK.framework" target-dir="lib" framework="true" /> -->
        <source-file src="src/ios/MyFatoorahPaymentPlug.m" />
    </platform>
</plugin>